.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}


p.bio {
    text-align: center;
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
}

hr {
    width: 100px;
    height: 2px;
    background-color: #2199e8;
    margin-bottom: 50px;
    margin-top: 10px;
}

img.logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
}

h1.name {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

span.slogan {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Pattaya', sans-serif;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 35px;
}

.social-img ul {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.social-img ul li {
    display: inline;
    background: rgba(204, 204, 204, 0.5);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}

.social-img ul li:hover {
    background: #ccc;
}

h5 {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.work {
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: rgba(51, 51, 51, 0.5);
}

body.color {
    background-image: url(https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.0-9/117340124_341652667229117_4518503705805702407_n.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_eui2=AeE9wP_nS4js2XQ0Wuz6aIEf-F7fFFkCGzr4Xt8UWQIbOh7ZIfW8tWb8FVvd-1xIMzX3y98yedvb-qExQpZvipJ1&_nc_ohc=PUYWxI0uqVAAX94SnW8&_nc_ht=scontent.fbkk2-8.fna&oh=8a2f3f27003097873fffd027b7e89571&oe=5F565348);
    background-size: cover;
    background-attachment: inherit;
}
